# python == 3.14

--index-url https://download.pytorch.org/whl/cu130
--extra-index-url https://pypi.org/simple

torch==2.14.0+cu130
torchvision==0.29.0+cu130
numpy
scipy
PyYAML
Pillow
matplotlib
opencv-python
tensorboard
pykitti
vispy
pyqt6
streamlit
plotly